  .about{
    margin-bottom: 168px;
  }


  .about__box{
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 137px;
    padding-left: 85px;
    padding-bottom: 137px;
    border-radius: 10px;
  }
  
  .about__info{
    width: 100%;
    max-width: 540px;
  }
  
  .about__title{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
  }
  
  .about__text{
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-top: 24px;
  }



@media only screen and (max-width:689px){
.about{
  margin-bottom: 144px;
}

  .about__box{
    padding: 118px 58px;
  }
  

  .about__info{
    width: 100%;
    width: 398px;

  }

  .about__title{
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }

  .about__text{
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
  }
}



@media only screen and (min-width:327px) and (max-width:500px){

  .about__box{
    width: 100%;
    min-width: 327px;
    padding: 111px 24px 87px;
  }

  .about__info{
    width: 100%;
    min-width: 279px;
  }

  .about__title{
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }

  .about__text{
    text-align: center;
  }
}

