.collection{
  padding-top: 136px;
  background-image: url(../images/collection.png);
  background-repeat: no-repeat;
  background-position: calc(50%) calc(5%); 
  .collection-list{
    display: flex;
    width: 1111px;
    margin: 0 auto;
  }
  
  .collection__item{
    width: 255px;
    margin-left: 30px;
    margin-bottom: 188px;
  }
  
  .collection__img{
    width: 255px;
    height: 193px;
    margin-bottom: 72px;
  }
  
  .collection__title{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
  }
  
  .collection__text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
  }
}