
.plan-process{
  background-image: url("../images/plan__process.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 159px;
  padding: 104px 0 107px;
  
  .plan-process__content{
    width: 1110px;
    margin: 0 auto;
    
  }
  
  .plan-process__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 790px;
      height: 1px;
      position: relative;
      z-index: 2;
      margin-bottom: 67px;
      padding: 0;
    
      &::before{
        content: "";
        width: 760px;
        height: 2px;
        background-color: #FDD6BA;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: -1;
      }
    }

  .plan-process__circle{
    z-index: 1;
    width: 31px;
    height: 31px;
    background: transparent; 
    border: 2px solid #0E8784;
    border-radius: 50px;
  }
}


.plan-process-list__list{
  display: flex ;
  align-items: center;
}

.plan-process-list__item{
  width: 285px;
  margin-right: 95px;
}

.plan-process-list__number{
  font-family: Fraunces;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.plan-process-list__title{
  font-family: Fraunces;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;;
  margin-bottom: 42px;
}

.plan-process-list__text{
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;;
}
